table {
  border-collapse: collapse;
  margin: 20px;
}
th,
td {
  border: 1px solid #333;
  width: 50px;
  height: 50px;
  text-align: center;
}

.buttonPlateau {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background: lightblue;
}

.button.bateau {
  background: lightgreen;
  font-weight: bold;
}
.button.touched {
  background: red;
  color: white;
}
.button.missed {
  background: blue;
  color: white;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
